.group {
    width: 90%;
    margin: 0 auto;
    height: 80%;
    overflow-y: auto;
}

.post {
    background: #ccc;
    margin-top: 10px;
    padding: 10px;
}

.is-active {
    background-color: aquamarine;
}